.App {
  text-align: center;
  display: flex;
  background-color: #343541;
  color: white;
  position: fixed;
  top: 0;bottom: 0;right: 0;left: 0;
  overflow: overlay;
}

.chat-input-holder {
padding: 24px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.input-container {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
}

.main-chat-form {
  width: 90%;
}

.multiple-choice-box {
padding: 8px;
background-color: #60606e;
color: white;
border: none;
border-radius: 0 5px 5px 0;
font-size: 1.25em;
cursor: pointer;
outline: none;
}

.multiple-choice-box option {
background-color: #60606e;
color: white;
}

.chatbox {
  flex: 1;
  border: 1px solid white;
  position: relative;
  width: 100%;
}

.chat-input-textarea {
  background-color: #40414F;
  width: 90%;
  padding: 12px;
  color: white;
  border-radius: 5px;
  font-size: 1.25em;
  border: none;
  border-color: none;
  margin: 12px;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
}

.chat-log {
  text-align: left;
  max-height: 89%;
  overflow-y: auto;
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background-image: url("./assets/nerd_avatar.jpg");
  background-size: auto 40px;
  background-position-x: center;
  background-position-y: bottom;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.avatar.chatgpt {
  background-image: url("./assets/skelleton_avatar.jpg");
  background-size: auto 40px;
  background-position: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.large-avatar {
  margin-left: auto;
  margin-right: auto;
  background-image: url("./assets/skelleton_avatar.jpg");
  background-size: auto 300px;
  background-position: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.loggin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gives space between each child element */
}

.loggin-label {
  font-weight: bold;
  margin-bottom: 0rem;
}

.loggin-options {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loggin-button {
    background-color: #007BFF; /* Bright blue */
    color: #fff;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

    /* Adding hover effect */
    &:hover {
        background-color: #0056b3;
    }
}

.message {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 80%;
}

.multiple-choice-box {
margin-left: 10px;
}

.small-text {
color: white;
font-size: 0.8em;
margin-right: 10px; /* Adjust the margin as needed */
}

.message-table {
  border-collapse: collapse;
}

.message-table td, th {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  border: 0px solid black;
}
